# Node.js

**/node_modules/

# Environment variables
# Ignore all .env files anywhere
**/.env

.env
.env.*.local

# Logs
logs
*.log
log.txt
*.log.*

# Build
dist/
build/
coverage/

# OS-generated
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp

# Dependency directories
.bower_components/
jspm_packages/

# Testing
coverage/
.nyc_output/
__tests__/

# React Native
.expo/
.expo-shared/

# TypeScript
*.tsbuildinfo

# Misc
*.tgz
*.zip

# Local configuration
local.env
*.local
